<%= form_with(model: tree) do |form| %>
  <% if tree.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tree.errors.count, "error") %> prohibited this tree from being saved:</h2>

      <ul>
        <% tree.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="form">
    <div class="input-box">
      <%= form.label :name, style: "display: block, align-items: center" %>
      <%= form.text_field :name, placeholder: "Enter full name"%>
    </div>

    <div class="input-box">
      <%= form.label :x, style: "display: block, align-items: center" %>
      <%= form.text_field :x, placeholder: "https://twitter.com/"%>
    </div>

    <div class="input-box">
      <%= form.label :instagram, style: "display: block, align-items: center" %>
      <%= form.text_field :instagram, placeholder: "https://instagram.com/"%>
    </div>

    <div class="input-box">
      <%= form.label :youtube, style: "display: block, align-items: center" %>
      <%= form.text_field :youtube, placeholder: "https://youtube.com/"%>
    </div>

    <div class="input-box">
      <%= form.label :user_id, style: "display: block, align-items: center" %>
      <%= form.number_field :user_id, :presence => true%>
    </div>

    <div class="input-box">
      <%= form.label :style, style: "display: block, align-items: center" %>
      <%= form.text_field :style, placeholder: "Enter style"%>
    </div>

    <div class="button-wrapper", style="text-align: center;">
      <%= form.submit class: "new-button" %>
    </div>
  </div>
</div>

<% end %>
