<div class="container">
  <div class="content-wrapper">
    <header class="text-center">Tree</header>
  </div>
  <p style="color: green"><%= notice %></p>

  <%= render @tree %>

  <div class="button-wrapper-list", style="text-align: right;">
    <%= link_to "Edit this tree", edit_tree_path(@tree), class: "edit-button" %>
    <%= link_to "Back to trees", trees_path, class: "list-button" %>
    <%= button_to "Destroy this tree", @tree, method: :delete, class: "delete-button" %>
  </div>
</div>